body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

ul li{
    padding: 1em 0em;
    margin: 1px;
    float:left;
    display: block;
    background: url(../imagens/esquerdo.png) no-repeat right top;
}

li a{
    padding: 1em 2em;
    margin: 0;
    background: url(../imagens/direito.png) no-repeat left top;
}

ul #selecionado {
    background: url(../imagens/esquerdo-atual.png) no-repeat right top;
}

ul #selecionado a {
    background: url(../imagens/direito-atual.png) no-repeat left top;
}


    